/* =================== General Styles ========================== */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Outfit", sans-serif;
}

body {
    background-color: var(--Eggshell);
}

/* Author Styles */
.attribution { 
    font-size: 11px; 
    text-align: center;
    padding-bottom: 50px;
}

.attribution h5 { 
    font-size: 15px;
    font-weight: 300;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 30px;
    color: var(--white-neutral-color);
}

.attribution a { 
    color: var(--lemon-green-color);
    font-weight: var(--meduim-font-Weights);
}

/* =================== Custom Styles ========================== */
