* {
    margin: 0;
    padding: 0;
    list-style: none;
    font-family: "sora", sans-serif;
    font-style: normal;
    box-sizing: border-box;
}

header {
    background-color: #028374;
    z-index: 999;
}

a {
    color: white;
    text-decoration: none;
}

.navbar {
    min-height: 65px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 40px;
}

.nav-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 60px;
}

.nav-branding {
    font-size: 1.5rem;
    font-weight: 500;
}

.nav-link {
    transition: 0.7s ease;
}

.nav-link:hover {
    color: rgb(178, 236, 61);
}

.Hamburger {
    display: none;
    cursor: pointer;
}

.bar {
    display: block;
    width: 30px;
    height: 3px;
    margin: 8px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: white;
    border-radius: 20px;
}


/* MOBILE RESPONSIVE */

@media(max-width: 768px) {
    .Hamburger {
        display: block;
    }

    .Hamburger.active .bar:nth-child(1) {
        transform: translateY(11px) rotate(-45deg);
    }
    
    .Hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }
    
    .Hamburger.active .bar:nth-child(3) {
        transform: translateY(-11px) rotate(45deg);
    }
    
    .nav-menu {
        position: fixed;
        left: 0;
        right: 0;
        top: -100%;
        gap: 0;
        flex-direction: column;
        background-color: #028374;
        width: 100%;
        text-align: center;
        transition: 0.6s;
        padding-top: 100px;
        padding-bottom: 30px;
        z-index: -2;
    }

    .nav-items {
        margin: 12px 0;
    }

    .nav-menu.active {
        top: 0;
    }
}